In [1]:
from xtquant import xtdata
import time
import mysql.connector
import pandas as pd
from sqlalchemy import create_engine,text,Table, MetaData
import os
from urllib.parse import quote
import numpy as np
import yaml
from datetime import datetime
import json

In [2]:
xtdata.download_history_data("123200.SZ", 'tick', start_time='20230801', end_time='20250801')
data = xtdata.get_market_data_ex([],['123200.SZ'], 'tick', "","")

***** xtdata连接成功 *****
服务信息: None
服务地址: None
数据路径: None
设置xtdata.enable_hello = False可隐藏此消息

In [3]:
data

{'123200.SZ':                          time  lastPrice     open     high      low  \
 20250703091500  1751505300000      0.000    0.000    0.000    0.000
 20250703091509  1751505309000      0.000    0.000    0.000    0.000
 20250703091527  1751505327000      0.000    0.000    0.000    0.000
 20250703091603  1751505363000      0.000    0.000    0.000    0.000
 20250703091703  1751505423000      0.000    0.000    0.000    0.000
 ...                       ...        ...      ...      ...      ...
 20250801145924  1754031564000    143.665  139.817  143.680  139.779
 20250801145933  1754031573000    143.665  139.817  143.680  139.779
 20250801145942  1754031582000    143.665  139.817  143.680  139.779
 20250801145951  1754031591000    143.665  139.817  143.680  139.779
 20250801150000  1754031600000    143.999  139.817  143.999  139.779

                 lastClose       amount  volume  pvolume  tickvol  stockStatus  \
 20250703091500    138.000          0.0       0        0        0            0
 20250703091509    138.000          0.0       0        0        0            0
 20250703091527    138.000          0.0       0        0        0            0
 20250703091603    138.000          0.0       0        0        0            0
 20250703091703    138.000          0.0       0        0        0            0
 ...                   ...          ...     ...      ...      ...          ...
 20250801145924    139.617  196405555.0  138010        0        0            0
 20250801145933    139.617  196405555.0  138010        0        0            0
 20250801145942    139.617  196405555.0  138010        0        0            0
 20250801145951    139.617  196405555.0  138010        0        0            0
 20250801150000    139.617  198098983.0  139186        0        0            0

                 openInt  lastSettlementPrice  \
 20250703091500       12                  0.0
 20250703091509       12                  0.0
 20250703091527       12                  0.0
 20250703091603       12                  0.0
 20250703091703       12                  0.0
 ...                 ...                  ...
 20250801145924       18                  0.0
 20250801145933       18                  0.0
 20250801145942       18                  0.0
 20250801145951       18                  0.0
 20250801150000       15                  0.0

                                                          askPrice  \
 20250703091500                        [137.8, 0.0, 0.0, 0.0, 0.0]
 20250703091509                        [138.0, 0.0, 0.0, 0.0, 0.0]
 20250703091527                        [138.0, 0.0, 0.0, 0.0, 0.0]
 20250703091603                        [138.0, 0.0, 0.0, 0.0, 0.0]
 20250703091703                        [138.0, 0.0, 0.0, 0.0, 0.0]
 ...                                                           ...
 20250801145924                      [143.691, 0.0, 0.0, 0.0, 0.0]
 20250801145933                      [143.888, 0.0, 0.0, 0.0, 0.0]
 20250801145942                      [143.888, 0.0, 0.0, 0.0, 0.0]
 20250801145951           [143.95999999999998, 0.0, 0.0, 0.0, 0.0]
 20250801150000  [144.0, 144.064, 144.1, 144.10999999999999, 14...

                                                    bidPrice  \
 20250703091500                  [137.8, 0.0, 0.0, 0.0, 0.0]
 20250703091509                  [138.0, 0.0, 0.0, 0.0, 0.0]
 20250703091527                  [138.0, 0.0, 0.0, 0.0, 0.0]
 20250703091603                  [138.0, 0.0, 0.0, 0.0, 0.0]
 20250703091703                  [138.0, 0.0, 0.0, 0.0, 0.0]
 ...                                                     ...
 20250801145924                [143.691, 0.0, 0.0, 0.0, 0.0]
 20250801145933                [143.888, 0.0, 0.0, 0.0, 0.0]
 20250801145942                [143.888, 0.0, 0.0, 0.0, 0.0]
 20250801145951     [143.95999999999998, 0.0, 0.0, 0.0, 0.0]
 20250801150000  [143.999, 143.99, 143.96, 143.952, 143.901]

                              askVol              bidVol  settlementPrice  \
 20250703091500     [38, 0, 0, 0, 0]    [38, 2, 0, 0, 0]              0.0
 20250703091509     [59, 0, 0, 0, 0]   [59, 41, 0, 0, 0]              0.0
 20250703091527     [59, 0, 0, 0, 0]   [59, 61, 0, 0, 0]              0.0
 20250703091603     [59, 0, 0, 0, 0]   [59, 62, 0, 0, 0]              0.0
 20250703091703     [59, 0, 0, 0, 0]   [59, 62, 0, 0, 0]              0.0
 ...                             ...                 ...              ...
 20250801145924    [694, 0, 0, 0, 0]   [694, 4, 0, 0, 0]              0.0
 20250801145933   [918, 43, 0, 0, 0]   [918, 0, 0, 0, 0]              0.0
 20250801145942    [963, 5, 0, 0, 0]   [963, 0, 0, 0, 0]              0.0
 20250801145951  [1058, 43, 0, 0, 0]  [1058, 0, 0, 0, 0]              0.0
 20250801150000    [291, 2, 1, 1, 1]     [4, 8, 3, 1, 2]              0.0

                 transactionNum   pe
 20250703091500               0  0.0
 20250703091509               0  0.0
 20250703091527               0  0.0
 20250703091603               0  0.0
 20250703091703               0  0.0
 ...                        ...  ...
 20250801145924           22099  0.0
 20250801145933           22099  0.0
 20250801145942           22099  0.0
 20250801145951           22099  0.0
 20250801150000           22354  0.0

 [83814 rows x 20 columns]}

In [4]:
df = data['123200.SZ']

df.index = df.index.rename('trade_time')
df['code'] = '123200.SZ'

df.reset_index(inplace=True)

cols_to_convert = ['askPrice', 'bidPrice', 'askVol', 'bidVol']

for col in cols_to_convert:
    df[col] = df[col].apply(json.dumps)

In [39]:
password = quote('Happy$4ever')


table_name = 'CB_TICK'

engine = create_engine(f'mysql+mysqlconnector://root:{password}@www.deepweiqi.cn:3306/KDATA')
conn = engine.connect()

In [40]:

total_rows_query = f"SELECT COUNT(*) FROM {table_name}"
total_rows = pd.read_sql(total_rows_query, conn).iloc[0, 0]
print(f"    -> 验证成功：数据库 '{table_name}' 表中当前总行数为: {total_rows}")

    -> 验证成功：数据库 'CB_TICK' 表中当前总行数为: 83814

In [7]:
conn.rollback()

In [12]:
with engine.connect() as conn:
        with conn.begin() as transaction:
            try:
                # 1. 从数据库中读取所有已存在的 'datetime' 主键
                print("Checking for existing data in the database...")
                existing_datetimes_df = pd.read_sql(f"SELECT trade_time FROM {table_name}", conn)
                existing_datetimes = set(existing_datetimes_df['trade_time'])
                print(f"Found {len(existing_datetimes)} existing rows.")

                # 2. 筛选出需要插入的新数据 (即 'datetime' 不在已有集合中的行)
                new_data_df = df[~df['trade_time'].isin(existing_datetimes)]

                # 3. 如果有新数据，则执行插入操作
                if not new_data_df.empty:
                    print(f"Found {len(new_data_df)} new rows to append.")
                    chunk_size = 1000
                    
                    new_data_df.to_sql(
                        table_name, 
                        conn, 
                        if_exists='append', 
                        index=False, 
                        chunksize=chunk_size
                    )
                    
                    print("Successfully appended new data.")
                else:
                    print("No new data to append. The database is already up-to-date.")
                
                # 如果代码能执行到这里，`conn.begin()` 会在退出时自动提交事务

            except Exception as e:
                print(f"An error occurred during the database operation: {e}")
                # 如果发生错误，`conn.begin()` 会在退出时自动回滚事务
                # 我们重新抛出异常，让外部知道操作失败了
                raise

Checking for existing data in the database...
Found 0 existing rows.
Found 83814 new rows to append.
Successfully appended new data.

In [14]:
try:
    with engine.connect() as conn:
        # 1. 筛选新数据 (这部分逻辑不变)
        print("Checking for existing data...")
        existing_datetimes_df = pd.read_sql(f"SELECT trade_time FROM {table_name}", conn)
        existing_datetimes = set(existing_datetimes_df['trade_time'])
        new_data_df = df[~df['trade_time'].isin(existing_datetimes)]
        
        if new_data_df.empty:
            print("No new data to append.")
        else:
            print(f"Found {len(new_data_df)} new rows to append. Starting insertion process...")
            
            # 2. 手动分块并逐个插入，用于精确定位错误
            num_chunks = int(np.ceil(len(new_data_df) / chunk_size))
            
            # 将整个循环包裹在一个事务中
            with conn.begin() as transaction:
                try:
                    for i, chunk in enumerate(np.array_split(new_data_df, num_chunks)):
                        print(f"Inserting chunk {i + 1} of {num_chunks} (rows {i*chunk_size} to {(i+1)*chunk_size-1})...")
                        chunk.to_sql(
                            table_name,
                            conn,
                            if_exists='append',
                            index=False
                            # 注意：在手动循环时，to_sql内部不应再指定chunksize
                        )
                    
                    print("All chunks inserted successfully. Committing transaction.")
                    # 如果循环成功完成，事务会自动提交
                
                except Exception as e:
                    # 如果任何一个块失败，打印详细的错误信息和出错的块
                    print("\n" + "="*50)
                    print(f"!!!!!! ERROR occurred while inserting chunk {i + 1} !!!!!!")
                    print(f"Error Type: {type(e)}")
                    print(f"Error Details: {e}")
                    print("\n--- Data in the failing chunk that caused the error: ---")
                    # 使用 to_string() 打印完整的块内容以便检查
                    print(chunk.to_string())
                    print("="*50 + "\n")
                    print("Transaction will be rolled back. No new data will be saved.")
                    
                    # 重新抛出异常，以确保外层知道发生了错误，并触发事务回滚
                    raise

except Exception as e:
    # 捕获连接错误或其他意外错误
    print(f"An unexpected error occurred outside the transaction loop: {e}")

Checking for existing data...
Found 83814 new rows to append. Starting insertion process...
An unexpected error occurred outside the transaction loop: This connection has already initialized a SQLAlchemy Transaction() object via begin() or autobegin; can't call begin() here unless rollback() or commit() is called first.

In [17]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

# --- Assume these are defined elsewhere in your code ---
# engine = create_engine("your_database_connection_string")
# df = pd.DataFrame(...)
# table_name = "your_table_name"
# chunk_size = 1000
# ---------------------------------------------------------

try:
    # The 'with engine.connect() as conn:' block handles the transaction.
    # It will automatically BEGIN a transaction and will COMMIT on successful
    # completion or ROLLBACK if an exception occurs.
    with engine.connect() as conn:
        # 1. Filter for new data (logic remains the same)
        print("Checking for existing data...")
        try:
            existing_datetimes_df = pd.read_sql(f"SELECT trade_time FROM {table_name}", conn)
            existing_datetimes = set(existing_datetimes_df['trade_time'])
            new_data_df = df[~df['trade_time'].isin(existing_datetimes)]
        except Exception as e:
            # Handle cases where the table might not exist yet
            print(f"Could not read from table {table_name} (it might be empty or not exist). Assuming all data is new. Error: {e}")
            new_data_df = df

        if new_data_df.empty:
            print("No new data to append.")
        else:
            print(f"Found {len(new_data_df)} new rows to append. Starting insertion process...")
            
            # 2. Manually chunk and insert to pinpoint errors
            num_chunks = int(np.ceil(len(new_data_df) / chunk_size))
            
            # A variable to hold the failing chunk for error reporting
            failing_chunk = None
            i = -1 # Initialize i to handle potential errors during splitting

            try:
                for i, chunk in enumerate(np.array_split(new_data_df, num_chunks)):
                    failing_chunk = chunk # Store current chunk in case it fails
                    print(f"Inserting chunk {i + 1} of {num_chunks} (rows {i*chunk_size} to {i*chunk_size + len(chunk)-1})...")
                    chunk.to_sql(
                        table_name,
                        conn,
                        if_exists='append',
                        index=False
                    )
                
                print("\nAll chunks inserted successfully. Transaction will be committed.")
            
            except Exception as e:
                # If any chunk fails, print the details and re-raise the exception
                # to trigger the automatic rollback of the outer 'with' block.
                print("\n" + "="*60)
                print(f"!!!!!! ERROR occurred while inserting chunk {i + 1} !!!!!!")
                print(f"Error Type: {type(e)}")
                print(f"Error Details: {e}")
                print("\n--- Data in the failing chunk that caused the error: ---")
                # Use to_string() to print the full chunk content for debugging
                if failing_chunk is not None:
                    print(failing_chunk.to_string())
                print("="*60 + "\n")
                print("An error occurred. Transaction will be rolled back by the connection manager.")
                
                # Re-raise the exception to ensure the 'with' block's transaction is rolled back
                raise

except Exception as e:
    # This will catch connection errors or the re-raised exception from the inner block.
    print(f"An operation failed and the transaction was rolled back. Error: {e}")

Checking for existing data...
Found 83814 new rows to append. Starting insertion process...

C:\Python310\lib\site-packages\numpy\core\fromnumeric.py:59: FutureWarning: 'DataFrame.swapaxes' is deprecated and will be removed in a future version. Please use 'DataFrame.transpose' instead.
  return bound(*args, **kwds)

Inserting chunk 1 of 84 (rows 0 to 997)...
Inserting chunk 2 of 84 (rows 1000 to 1997)...
Inserting chunk 3 of 84 (rows 2000 to 2997)...
Inserting chunk 4 of 84 (rows 3000 to 3997)...
Inserting chunk 5 of 84 (rows 4000 to 4997)...
Inserting chunk 6 of 84 (rows 5000 to 5997)...
Inserting chunk 7 of 84 (rows 6000 to 6997)...
Inserting chunk 8 of 84 (rows 7000 to 7997)...
Inserting chunk 9 of 84 (rows 8000 to 8997)...
Inserting chunk 10 of 84 (rows 9000 to 9997)...
Inserting chunk 11 of 84 (rows 10000 to 10997)...
Inserting chunk 12 of 84 (rows 11000 to 11997)...
Inserting chunk 13 of 84 (rows 12000 to 12997)...
Inserting chunk 14 of 84 (rows 13000 to 13997)...
Inserting chunk 15 of 84 (rows 14000 to 14997)...
Inserting chunk 16 of 84 (rows 15000 to 15997)...
Inserting chunk 17 of 84 (rows 16000 to 16997)...
Inserting chunk 18 of 84 (rows 17000 to 17997)...
Inserting chunk 19 of 84 (rows 18000 to 18997)...
Inserting chunk 20 of 84 (rows 19000 to 19997)...
Inserting chunk 21 of 84 (rows 20000 to 20997)...
Inserting chunk 22 of 84 (rows 21000 to 21997)...
Inserting chunk 23 of 84 (rows 22000 to 22997)...
Inserting chunk 24 of 84 (rows 23000 to 23997)...
Inserting chunk 25 of 84 (rows 24000 to 24997)...
Inserting chunk 26 of 84 (rows 25000 to 25997)...
Inserting chunk 27 of 84 (rows 26000 to 26997)...
Inserting chunk 28 of 84 (rows 27000 to 27997)...
Inserting chunk 29 of 84 (rows 28000 to 28997)...
Inserting chunk 30 of 84 (rows 29000 to 29997)...
Inserting chunk 31 of 84 (rows 30000 to 30997)...
Inserting chunk 32 of 84 (rows 31000 to 31997)...
Inserting chunk 33 of 84 (rows 32000 to 32997)...
Inserting chunk 34 of 84 (rows 33000 to 33997)...
Inserting chunk 35 of 84 (rows 34000 to 34997)...
Inserting chunk 36 of 84 (rows 35000 to 35997)...
Inserting chunk 37 of 84 (rows 36000 to 36997)...
Inserting chunk 38 of 84 (rows 37000 to 37997)...
Inserting chunk 39 of 84 (rows 38000 to 38997)...
Inserting chunk 40 of 84 (rows 39000 to 39997)...
Inserting chunk 41 of 84 (rows 40000 to 40997)...
Inserting chunk 42 of 84 (rows 41000 to 41997)...
Inserting chunk 43 of 84 (rows 42000 to 42997)...
Inserting chunk 44 of 84 (rows 43000 to 43997)...
Inserting chunk 45 of 84 (rows 44000 to 44997)...
Inserting chunk 46 of 84 (rows 45000 to 45997)...
Inserting chunk 47 of 84 (rows 46000 to 46997)...
Inserting chunk 48 of 84 (rows 47000 to 47997)...
Inserting chunk 49 of 84 (rows 48000 to 48997)...
Inserting chunk 50 of 84 (rows 49000 to 49997)...
Inserting chunk 51 of 84 (rows 50000 to 50997)...
Inserting chunk 52 of 84 (rows 51000 to 51997)...
Inserting chunk 53 of 84 (rows 52000 to 52997)...
Inserting chunk 54 of 84 (rows 53000 to 53997)...
Inserting chunk 55 of 84 (rows 54000 to 54997)...
Inserting chunk 56 of 84 (rows 55000 to 55997)...
Inserting chunk 57 of 84 (rows 56000 to 56997)...
Inserting chunk 58 of 84 (rows 57000 to 57997)...
Inserting chunk 59 of 84 (rows 58000 to 58997)...
Inserting chunk 60 of 84 (rows 59000 to 59997)...
Inserting chunk 61 of 84 (rows 60000 to 60997)...
Inserting chunk 62 of 84 (rows 61000 to 61997)...
Inserting chunk 63 of 84 (rows 62000 to 62997)...
Inserting chunk 64 of 84 (rows 63000 to 63997)...
Inserting chunk 65 of 84 (rows 64000 to 64997)...
Inserting chunk 66 of 84 (rows 65000 to 65997)...
Inserting chunk 67 of 84 (rows 66000 to 66996)...
Inserting chunk 68 of 84 (rows 67000 to 67996)...
Inserting chunk 69 of 84 (rows 68000 to 68996)...
Inserting chunk 70 of 84 (rows 69000 to 69996)...
Inserting chunk 71 of 84 (rows 70000 to 70996)...
Inserting chunk 72 of 84 (rows 71000 to 71996)...
Inserting chunk 73 of 84 (rows 72000 to 72996)...
Inserting chunk 74 of 84 (rows 73000 to 73996)...
Inserting chunk 75 of 84 (rows 74000 to 74996)...
Inserting chunk 76 of 84 (rows 75000 to 75996)...
Inserting chunk 77 of 84 (rows 76000 to 76996)...
Inserting chunk 78 of 84 (rows 77000 to 77996)...
Inserting chunk 79 of 84 (rows 78000 to 78996)...
Inserting chunk 80 of 84 (rows 79000 to 79996)...
Inserting chunk 81 of 84 (rows 80000 to 80996)...
Inserting chunk 82 of 84 (rows 81000 to 81996)...
Inserting chunk 83 of 84 (rows 82000 to 82996)...
Inserting chunk 84 of 84 (rows 83000 to 83996)...

All chunks inserted successfully. Transaction will be committed.

In [18]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

# --- 假设这些变量已在你的代码中定义 ---
# engine = create_engine("your_database_connection_string")
# df = pd.DataFrame(...) # 这是你从外部加载的、包含所有数据的完整DataFrame
# table_name = "CB_TICK"
# chunk_size = 1000
# ---------------------------------------------------------

# --- 新增诊断步骤 ---
# 1. 打印引擎信息，确认连接的是正确的数据库！
print(f"Connecting to engine: {engine}")
# 2. 打印原始数据的基本信息，确认数据已正确加载
print("\n--- Initial DataFrame Info ---")
print(f"Total rows loaded initially: {len(df)}")
df.info()
print("-" * 30)
# ------------------------

try:
    # 'with engine.connect() as conn:' 会自动开始一个事务
    with engine.connect() as conn:
        
        # 1. 筛选新数据
        print("\nChecking for existing data in the database...")
        try:
            existing_datetimes_df = pd.read_sql(f"SELECT trade_time FROM {table_name}", conn)
            print(f"Found {len(existing_datetimes_df)} existing rows in table '{table_name}'.")
            
            # --- 新增诊断步骤 ---
            # 3. 检查从数据库读出的数据类型
            if not existing_datetimes_df.empty:
                print("\n--- Data types from database ---")
                existing_datetimes_df.info()
                print("-" * 30)
            # ------------------------

            existing_datetimes = set(existing_datetimes_df['trade_time'])
            new_data_df = df[~df['trade_time'].isin(existing_datetimes)]

        except Exception as e:
            print(f"Could not read from table {table_name} (it might be empty or not exist). Assuming all data is new. Error: {e}")
            new_data_df = df

        # --- 新增诊断步骤 ---
        # 4. 最关键的一步：检查筛选后的新数据是否为空！
        print("\n--- New Data to be Inserted Info ---")
        print(f"Found {len(new_data_df)} new rows to append.")
        if not new_data_df.empty:
            print(new_data_df.head()) # 打印前几行看看
        print("-" * 30)
        # ------------------------

        if new_data_df.empty:
            print("\nNo new data to append. Script finished.")
        else:
            print(f"\nStarting insertion process for {len(new_data_df)} rows...")
            
            num_chunks = int(np.ceil(len(new_data_df) / chunk_size))
            
            try:
                for i, chunk in enumerate(np.array_split(new_data_df, num_chunks)):
                    print(f"Inserting chunk {i + 1} of {num_chunks}...")
                    chunk.to_sql(
                        table_name,
                        conn,
                        if_exists='append',
                        index=False
                    )
                
                # --- 核心修改：在所有块成功后，显式调用 commit ---
                print("\nAll chunks inserted into buffer successfully. Now explicitly committing transaction...")
                conn.commit() # <--- 显式提交！
                print("Transaction committed successfully.")
            
            except Exception as e:
                print("\n" + "="*60)
                print(f"!!!!!! ERROR occurred during insertion !!!!!!")
                print(f"Error Details: {e}")
                print("Transaction will be rolled back.")
                # 'with'块会在异常退出时自动回滚，但也可以显式调用 conn.rollback()
                conn.rollback()
                raise

except Exception as e:
    print(f"\nAn unexpected error occurred: {e}")

Connecting to engine: Engine(mysql+mysqlconnector://root:***@192.168.8.78:3306/CB_HISTORY)

--- Initial DataFrame Info ---
Total rows loaded initially: 83814
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83814 entries, 0 to 83813
Data columns (total 22 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   trade_time           83814 non-null  object
 1   time                 83814 non-null  int64
 2   lastPrice            83814 non-null  float64
 3   open                 83814 non-null  float64
 4   high                 83814 non-null  float64
 5   low                  83814 non-null  float64
 6   lastClose            83814 non-null  float64
 7   amount               83814 non-null  float64
 8   volume               83814 non-null  int64
 9   pvolume              83814 non-null  int64
 10  tickvol              83814 non-null  int64
 11  stockStatus          83814 non-null  int32
 12  openInt              83814 non-null  int32
 13  lastSettlementPrice  83814 non-null  float64
 14  askPrice             83814 non-null  object
 15  bidPrice             83814 non-null  object
 16  askVol               83814 non-null  object
 17  bidVol               83814 non-null  object
 18  settlementPrice      83814 non-null  float64
 19  transactionNum       83814 non-null  int64
 20  pe                   83814 non-null  float64
 21  code                 83814 non-null  object
dtypes: float64(9), int32(2), int64(5), object(6)
memory usage: 13.4+ MB
------------------------------

Checking for existing data in the database...
Found 0 existing rows in table 'CB_TICK'.

--- New Data to be Inserted Info ---
Found 83814 new rows to append.
       trade_time           time  lastPrice  open  high  low  lastClose  \
0  20250703091500  1751505300000        0.0   0.0   0.0  0.0      138.0
1  20250703091509  1751505309000        0.0   0.0   0.0  0.0      138.0
2  20250703091527  1751505327000        0.0   0.0   0.0  0.0      138.0
3  20250703091603  1751505363000        0.0   0.0   0.0  0.0      138.0
4  20250703091703  1751505423000        0.0   0.0   0.0  0.0      138.0

   amount  volume  pvolume  ...  openInt  lastSettlementPrice  \
0     0.0       0        0  ...       12                  0.0
1     0.0       0        0  ...       12                  0.0
2     0.0       0        0  ...       12                  0.0
3     0.0       0        0  ...       12                  0.0
4     0.0       0        0  ...       12                  0.0

                      askPrice                     bidPrice            askVol  \
0  [137.8, 0.0, 0.0, 0.0, 0.0]  [137.8, 0.0, 0.0, 0.0, 0.0]  [38, 0, 0, 0, 0]
1  [138.0, 0.0, 0.0, 0.0, 0.0]  [138.0, 0.0, 0.0, 0.0, 0.0]  [59, 0, 0, 0, 0]
2  [138.0, 0.0, 0.0, 0.0, 0.0]  [138.0, 0.0, 0.0, 0.0, 0.0]  [59, 0, 0, 0, 0]
3  [138.0, 0.0, 0.0, 0.0, 0.0]  [138.0, 0.0, 0.0, 0.0, 0.0]  [59, 0, 0, 0, 0]
4  [138.0, 0.0, 0.0, 0.0, 0.0]  [138.0, 0.0, 0.0, 0.0, 0.0]  [59, 0, 0, 0, 0]

              bidVol settlementPrice transactionNum   pe       code
0   [38, 2, 0, 0, 0]             0.0              0  0.0  123200.SZ
1  [59, 41, 0, 0, 0]             0.0              0  0.0  123200.SZ
2  [59, 61, 0, 0, 0]             0.0              0  0.0  123200.SZ
3  [59, 62, 0, 0, 0]             0.0              0  0.0  123200.SZ
4  [59, 62, 0, 0, 0]             0.0              0  0.0  123200.SZ

[5 rows x 22 columns]
------------------------------

Starting insertion process for 83814 rows...

C:\Python310\lib\site-packages\numpy\core\fromnumeric.py:59: FutureWarning: 'DataFrame.swapaxes' is deprecated and will be removed in a future version. Please use 'DataFrame.transpose' instead.
  return bound(*args, **kwds)

Inserting chunk 1 of 84...
Inserting chunk 2 of 84...
Inserting chunk 3 of 84...
Inserting chunk 4 of 84...
Inserting chunk 5 of 84...
Inserting chunk 6 of 84...
Inserting chunk 7 of 84...
Inserting chunk 8 of 84...
Inserting chunk 9 of 84...
Inserting chunk 10 of 84...
Inserting chunk 11 of 84...
Inserting chunk 12 of 84...
Inserting chunk 13 of 84...
Inserting chunk 14 of 84...
Inserting chunk 15 of 84...
Inserting chunk 16 of 84...
Inserting chunk 17 of 84...
Inserting chunk 18 of 84...
Inserting chunk 19 of 84...
Inserting chunk 20 of 84...
Inserting chunk 21 of 84...
Inserting chunk 22 of 84...
Inserting chunk 23 of 84...
Inserting chunk 24 of 84...
Inserting chunk 25 of 84...
Inserting chunk 26 of 84...
Inserting chunk 27 of 84...
Inserting chunk 28 of 84...
Inserting chunk 29 of 84...
Inserting chunk 30 of 84...
Inserting chunk 31 of 84...
Inserting chunk 32 of 84...
Inserting chunk 33 of 84...
Inserting chunk 34 of 84...
Inserting chunk 35 of 84...
Inserting chunk 36 of 84...
Inserting chunk 37 of 84...
Inserting chunk 38 of 84...
Inserting chunk 39 of 84...
Inserting chunk 40 of 84...
Inserting chunk 41 of 84...
Inserting chunk 42 of 84...
Inserting chunk 43 of 84...
Inserting chunk 44 of 84...
Inserting chunk 45 of 84...
Inserting chunk 46 of 84...
Inserting chunk 47 of 84...
Inserting chunk 48 of 84...
Inserting chunk 49 of 84...
Inserting chunk 50 of 84...
Inserting chunk 51 of 84...
Inserting chunk 52 of 84...
Inserting chunk 53 of 84...
Inserting chunk 54 of 84...
Inserting chunk 55 of 84...
Inserting chunk 56 of 84...
Inserting chunk 57 of 84...
Inserting chunk 58 of 84...
Inserting chunk 59 of 84...
Inserting chunk 60 of 84...
Inserting chunk 61 of 84...
Inserting chunk 62 of 84...
Inserting chunk 63 of 84...
Inserting chunk 64 of 84...
Inserting chunk 65 of 84...
Inserting chunk 66 of 84...
Inserting chunk 67 of 84...
Inserting chunk 68 of 84...
Inserting chunk 69 of 84...
Inserting chunk 70 of 84...
Inserting chunk 71 of 84...
Inserting chunk 72 of 84...
Inserting chunk 73 of 84...
Inserting chunk 74 of 84...
Inserting chunk 75 of 84...
Inserting chunk 76 of 84...
Inserting chunk 77 of 84...
Inserting chunk 78 of 84...
Inserting chunk 79 of 84...
Inserting chunk 80 of 84...
Inserting chunk 81 of 84...
Inserting chunk 82 of 84...
Inserting chunk 83 of 84...
Inserting chunk 84 of 84...

All chunks inserted into buffer successfully. Now explicitly committing transaction...
Transaction committed successfully.

In [22]:
UNIQUE_KEY_COLUMNS = ['code', 'trade_time'] 

if not new_data_df.empty:
    # --- 诊断核心：检查数据唯一性 ---
    duplicates_in_df = new_data_df.duplicated(subset=UNIQUE_KEY_COLUMNS, keep=False)
    num_duplicates = duplicates_in_df.sum()

    print("\n" + "="*60)
    print("DIAGNOSTIC CHECK: Analyzing data for uniqueness before insertion...")
    
    if num_duplicates > 0:
        print(f"!!! Found {num_duplicates} rows with duplicate unique keys within the new data. !!!")
        print("These rows will likely be rejected by the database.")
        print("Example of duplicate rows:")
        # 打印出所有重复的行（包括第一次出现的和后续重复的）以供分析
        print(new_data_df[duplicates_in_df].sort_values(by=UNIQUE_KEY_COLUMNS).head(10))
    else:
        print("OK: No duplicate unique keys found within the new data.")
    print("="*60 + "\n")

============================================================
DIAGNOSTIC CHECK: Analyzing data for uniqueness before insertion...
OK: No duplicate unique keys found within the new data.
============================================================

In [20]:
new_data_df

,trade_time,time,lastPrice,open,high,low,lastClose,amount,volume,pvolume,...,openInt,lastSettlementPrice,askPrice,bidPrice,askVol,bidVol,settlementPrice,transactionNum,pe,code
0,20250703091500,1751505300000,0.000,0.000,0.000,0.000,138.000,0.0,0,0,...,12,0.0,"[137.8, 0.0, 0.0, 0.0, 0.0]","[137.8, 0.0, 0.0, 0.0, 0.0]","[38, 0, 0, 0, 0]","[38, 2, 0, 0, 0]",0.0,0,0.0,123200.SZ
1,20250703091509,1751505309000,0.000,0.000,0.000,0.000,138.000,0.0,0,0,...,12,0.0,"[138.0, 0.0, 0.0, 0.0, 0.0]","[138.0, 0.0, 0.0, 0.0, 0.0]","[59, 0, 0, 0, 0]","[59, 41, 0, 0, 0]",0.0,0,0.0,123200.SZ
2,20250703091527,1751505327000,0.000,0.000,0.000,0.000,138.000,0.0,0,0,...,12,0.0,"[138.0, 0.0, 0.0, 0.0, 0.0]","[138.0, 0.0, 0.0, 0.0, 0.0]","[59, 0, 0, 0, 0]","[59, 61, 0, 0, 0]",0.0,0,0.0,123200.SZ
3,20250703091603,1751505363000,0.000,0.000,0.000,0.000,138.000,0.0,0,0,...,12,0.0,"[138.0, 0.0, 0.0, 0.0, 0.0]","[138.0, 0.0, 0.0, 0.0, 0.0]","[59, 0, 0, 0, 0]","[59, 62, 0, 0, 0]",0.0,0,0.0,123200.SZ
4,20250703091703,1751505423000,0.000,0.000,0.000,0.000,138.000,0.0,0,0,...,12,0.0,"[138.0, 0.0, 0.0, 0.0, 0.0]","[138.0, 0.0, 0.0, 0.0, 0.0]","[59, 0, 0, 0, 0]","[59, 62, 0, 0, 0]",0.0,0,0.0,123200.SZ
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83809,20250801145924,1754031564000,143.665,139.817,143.680,139.779,139.617,196405555.0,138010,0,...,18,0.0,"[143.691, 0.0, 0.0, 0.0, 0.0]","[143.691, 0.0, 0.0, 0.0, 0.0]","[694, 0, 0, 0, 0]","[694, 4, 0, 0, 0]",0.0,22099,0.0,123200.SZ
83810,20250801145933,1754031573000,143.665,139.817,143.680,139.779,139.617,196405555.0,138010,0,...,18,0.0,"[143.888, 0.0, 0.0, 0.0, 0.0]","[143.888, 0.0, 0.0, 0.0, 0.0]","[918, 43, 0, 0, 0]","[918, 0, 0, 0, 0]",0.0,22099,0.0,123200.SZ
83811,20250801145942,1754031582000,143.665,139.817,143.680,139.779,139.617,196405555.0,138010,0,...,18,0.0,"[143.888, 0.0, 0.0, 0.0, 0.0]","[143.888, 0.0, 0.0, 0.0, 0.0]","[963, 5, 0, 0, 0]","[963, 0, 0, 0, 0]",0.0,22099,0.0,123200.SZ
83812,20250801145951,1754031591000,143.665,139.817,143.680,139.779,139.617,196405555.0,138010,0,...,18,0.0,"[143.95999999999998, 0.0, 0.0, 0.0, 0.0]","[143.95999999999998, 0.0, 0.0, 0.0, 0.0]","[1058, 43, 0, 0, 0]","[1058, 0, 0, 0, 0]",0.0,22099,0.0,123200.SZ
83813,20250801150000,1754031600000,143.999,139.817,143.999,139.779,139.617,198098983.0,139186,0,...,15,0.0,"[144.0, 144.064, 144.1, 144.10999999999999, 14...","[143.999, 143.99, 143.96, 143.952, 143.901]","[291, 2, 1, 1, 1]","[4, 8, 3, 1, 2]",0.0,22354,0.0,123200.SZ

In [23]:
# --- Quick check for NULLs ---
print("\n" + "="*60)
print("DIAGNOSTIC CHECK: Checking for NULL values in columns...")

# This will show a count of null/None/NaN values for each column
null_counts = new_data_df.isnull().sum() 

if null_counts.sum() > 0:
    print("!!! Found NULL values in the following columns: !!!")
    print(null_counts[null_counts > 0]) # Only print columns that have nulls
    print("\nCompare this list with your database table's NOT NULL constraints.")
else:
    print("OK: No NULL values found in the data to be inserted.")

print("="*60 + "\n")

============================================================
DIAGNOSTIC CHECK: Checking for NULL values in columns...
OK: No NULL values found in the data to be inserted.
============================================================

In [24]:
new_data_df['trade_time']

0        20250703091500
1        20250703091509
2        20250703091527
3        20250703091603
4        20250703091703
              ...
83809    20250801145924
83810    20250801145933
83811    20250801145942
83812    20250801145951
83813    20250801150000
Name: trade_time, Length: 83814, dtype: object

In [25]:
new_data_df['trade_time'].iloc[0]

'20250703091500'

In [26]:

last_successful_time = '20250801133827'

# 筛选出所有在最后成功时间点之后的数据
df_to_check = df[df['trade_time'] > last_successful_time].copy()

print(f"\n--- 正在逐行检查 {len(df_to_check)} 条后续记录的时间格式 ---")

for index, row in df_to_check.iterrows():
    time_str = row['trade_time']
    try:
        # 尝试将这个时间字符串转换为 datetime 对象
        pd.to_datetime(time_str)
    except Exception as e:
        print("\n!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!")
        print(f"!!! 找到导致错误的行 !!!")
        print(f"!!! 索引位置 (Index): {index}")
        print(f"!!! 无法解析的时间字符串: '{time_str}'")
        print(f"!!! 错误详情: {e}")
        print("\n--- 导致错误的完整行数据如下 ---")
        print(row)
        print("!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!")
        # 找到第一个错误后就停止
        break 

print("\n--- 检查完成 ---")

--- 正在逐行检查 1589 条后续记录的时间格式 ---

--- 检查完成 ---

In [27]:
# 假设 df 是你从原始文件加载的、未经任何处理的完整 DataFrame
# 找到最后一条成功插入的时间字符串
last_successful_time = '20250801133827'

# 确保 trade_time 是字符串类型，以便进行字符串比较
df['trade_time'] = df['trade_time'].astype(str)

# 找到那条成功记录在 DataFrame 中的索引位置
try:
    last_successful_index = df[df['trade_time'] == last_successful_time].index[0]
    
    # 提取紧随其后的5条“嫌疑”记录
    suspect_rows = df.iloc[last_successful_index + 1 : last_successful_index + 6]

    print("--- 发现紧跟在最后成功记录之后的“嫌疑”数据 ---")
    # 使用 to_string() 打印完整内容，避免列被省略
    print(suspect_rows.to_string())

except IndexError:
    print(f"在源数据中未能找到 trade_time 为 {last_successful_time} 的记录，请检查时间字符串是否完全匹配。")

--- 发现紧跟在最后成功记录之后的“嫌疑”数据 ---
           trade_time           time  lastPrice     open     high      low  lastClose       amount  volume  pvolume  tickvol  stockStatus  openInt  lastSettlementPrice                                                                                              askPrice                                                                                              bidPrice                askVol               bidVol  settlementPrice  transactionNum   pe       code
82225  20250801133830  1754026710000    142.211  139.817  143.618  139.779    139.617  135606417.0   95489        0        0            0       13                  0.0                                                           [142.286, 142.287, 142.299, 142.3, 142.339]  [142.16600000000003, 142.16100000000003, 142.15600000000003, 142.14500000000004, 142.13500000000005]    [18, 14, 7, 20, 6]  [28, 13, 4, 18, 19]              0.0           14200  0.0  123200.SZ
82226  20250801133833  1754026713000    142.200  139.817  143.618  139.779    139.617  135613525.0   95494        0        0            0       13                  0.0             [142.17700000000002, 142.186, 142.18800000000002, 142.19600000000003, 142.19800000000004]             [142.13500000000002, 142.13100000000003, 142.13000000000002, 142.12800000000001, 142.127]       [1, 1, 5, 1, 1]     [19, 2, 4, 4, 7]              0.0           14202  0.0  123200.SZ
82227  20250801133836  1754026716000    142.188  139.817  143.618  139.779    139.617  135620635.0   95499        0        0            0       13                  0.0                                   [142.16700000000003, 142.18800000000002, 142.198, 142.281, 142.286]             [142.13500000000002, 142.13100000000003, 142.13000000000002, 142.12800000000001, 142.127]     [2, 2, 1, 35, 49]     [19, 2, 4, 4, 7]              0.0           14205  0.0  123200.SZ
82228  20250801133839  1754026719000    142.167  139.817  143.618  139.779    139.617  135644798.0   95516        0        0            0       13                  0.0                                              [142.264, 142.26500000000001, 142.274, 142.281, 142.286]                                                          [142.136, 142.135, 142.131, 142.13, 142.128]  [19, 14, 14, 35, 31]     [1, 15, 4, 4, 4]              0.0           14208  0.0  123200.SZ
82229  20250801133842  1754026722000    142.135  139.817  143.618  139.779    139.617  135678911.0   95540        0        0            0       13                  0.0  [142.24599999999998, 142.24699999999999, 142.27999999999997, 142.28099999999998, 142.28599999999997]  [142.18699999999998, 142.15599999999998, 142.15399999999997, 142.15299999999996, 142.13699999999997]    [5, 1, 22, 35, 31]      [5, 2, 2, 2, 5]              0.0           14215  0.0  123200.SZ

In [28]:
import pandas as pd

# --- 配置 ---
# 请确保这个文件名和您的Excel文件名完全一致
EXCEL_FILE_NAME = 'test_tick.xlsx'
# 数据库中最后一条成功记录的时间
LAST_SUCCESSFUL_TIME = '20250801133827'

# 定义数据库的表结构约束
# 'limit' 代表VARCHAR类型的最大长度
SCHEMA = {
    'code': {'type': 'string', 'limit': 10},
    'trade_time': {'type': 'string', 'limit': 16},
    'time': {'type': 'numeric'},
    'lastPrice': {'type': 'numeric'},
    'open': {'type': 'numeric'},
    'high': {'type': 'numeric'},
    'low': {'type': 'numeric'},
    'lastClose': {'type': 'numeric'},
    'amount': {'type': 'numeric'},
    'volume': {'type': 'numeric'},
    'pvolume': {'type': 'numeric'},
    'tickvol': {'type': 'numeric'},
    'stockStatus': {'type': 'numeric'},
    'openInt': {'type': 'numeric'},
    'lastSettlementPrice': {'type': 'numeric'},
    'askPrice': {'type': 'string', 'limit': 255},
    'bidPrice': {'type': 'string', 'limit': 255},
    'askVol': {'type': 'string', 'limit': 255},
    'bidVol': {'type': 'string', 'limit': 255},
    'settlementPrice': {'type': 'numeric'},
    'transactionNum': {'type': 'numeric'},
    'pe': {'type': 'numeric'},
    'stk_code': {'type': 'string', 'limit': 10},
    'stk_price': {'type': 'numeric'},
    'conv_price': {'type': 'numeric'},
    'conv_value': {'type': 'numeric'},
    'conv_prem': {'type': 'numeric'}
}

def find_bad_data(df):
    """
    逐行检查DataFrame，找出第一个不符合数据库约束的行。
    """
    print(f"\n--- 开始对 {len(df)} 行数据进行逐行、逐列检查 ---")
    for index, row in df.iterrows():
        for col_name, constraints in SCHEMA.items():
            value = row[col_name]
            
            # 1. 检查字符串长度是否超限
            if constraints['type'] == 'string':
                # 必须先将值转为字符串再检查长度，以处理非字符串类型（如数字）
                if value is not None and len(str(value)) > constraints['limit']:
                    print_error_and_exit(
                        error_type="字符串超长 (String Length Violation)",
                        index=index,
                        col_name=col_name,
                        value=value,
                        limit=constraints['limit'],
                        full_row=row
                    )

            # 2. 检查数值类型是否可以转换
            if constraints['type'] == 'numeric':
                # 如果值是字符串类型，则尝试转换。如果是数字类型，则跳过。
                if isinstance(value, str):
                    try:
                        float(value)  # 尝试转换为浮点数
                    except ValueError:
                        print_error_and_exit(
                            error_type="数值格式错误 (Numeric Format Error)",
                            index=index,
                            col_name=col_name,
                            value=value,
                            limit=None,
                            full_row=row
                        )
    print("\n--- 检查完成 ---")
    print("✅ 在所有自动化检查中，未发现明显错误。")

def print_error_and_exit(error_type, index, col_name, value, full_row, limit=None):
    """打印详细的错误信息并退出程序。"""
    print("\n!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!")
    print(f"!!! 定位到错误：{error_type} !!!")
    print("!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!")
    print(f"\n【错误位置】")
    print(f"  - Excel中的行号（大约）: {index + 2}")
    print(f"  - DataFrame中的索引: {index}")
    print(f"  - 出错的列名: '{col_name}'")
    
    print("\n【错误详情】")
    if limit:
        print(f"  - 数据库限制: 长度不能超过 {limit}")
        print(f"  - 实际数据的长度: {len(str(value))}")
    
    print(f"  - 出错的具体数据: '{value}' (数据类型: {type(value).__name__})")
    
    print("\n--- 导致错误的完整行数据如下 ---")
    print(full_row.to_string())
    print("\n请修正此行数据后重试。")
    exit() # 找到第一个错误后立即退出

# --- 主程序 ---
try:

    df['trade_time'] = df['trade_time'].astype(str)
    
    # 找到开始检查的位置
    try:
        start_index = df[df['trade_time'] == LAST_SUCCESSFUL_TIME].index[0] + 1
        print(f"将从索引 {start_index} 开始检查 (即'{LAST_SUCCESSFUL_TIME}'的下一行)...")
        df_to_check = df.iloc[start_index:].copy()
        
        # 执行检查
        find_bad_data(df_to_check)
        
    except IndexError:
        print(f"错误：在文件中未能找到 trade_time 为 '{LAST_SUCCESSFUL_TIME}' 的记录。请确认时间字符串完全正确。")

except FileNotFoundError:
    print(f"错误：找不到文件 '{EXCEL_FILE_NAME}'。请确保脚本和Excel文件在同一个文件夹下。")
except Exception as e:
    print(f"发生了未预料的错误: {e}")

将从索引 82225 开始检查 (即'20250801133827'的下一行)...

--- 开始对 1589 行数据进行逐行、逐列检查 ---
发生了未预料的错误: 'stk_code'